* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg1: lightblue;
}

body {
  background-color: var(--bg1);
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  font-family: "Lora", serif;
}

main p {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 20px;
  padding: 10px 0;
}

.fade-in {
  animation: fadein 1s;
}

.fade-out {
  animation: fadeout 1s;
}

#author {
  text-align: right;
  font-size: 16px;
}

main #quoteText {
  quotes: "“" "”" "‘" "’";
}
main #quoteText::before {
  content: open-quote;
}
main #quoteText::after {
  content: close-quote;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  border: 2px solid black;
  border-radius: 6px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  /* font-size: 16px; */
  cursor: pointer;
}
/* Blue */
.info {
  border-color: #2196f3;
  color: dodgerblue;
}

.info:hover {
  background: #2196f3;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
